@charset "utf-8";

html {height: 100%;}
body {
	height: 100%;
	margin: 0;
	background: #1a202e;
	color: #fff;
	font: 15px/1.5 'noto', '맑은 고딕', '돋움', sans-serif;
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,dl,dd,fieldset {margin: 0;}
ol, ul, fieldset {padding: 0;}
input, select, textarea, button, pre, a {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-decoration: none;
}
li {list-style: none;}
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	table-layout: fixed;
}
colgroup {background: none;}
fieldset, img {border: 0;}
img {vertical-align: top;}
label, td img {vertical-align: middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight: 500;}
legend, caption, .hidden {
	position: fixed;
	width: 0; height: 0;
	overflow: hidden;
}
address, em {font-style: normal;}
button {
	padding: 0;
	overflow: visible;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 0;
}
button::-moz-focus-inner {padding: 0; border: 0;}
pre {white-space: pre-wrap;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,section,main {display: block;}

select {
	background: none;
	border: 0;
	-webkit-appearance: none;
}
select::-ms-expand {display: none;}
textarea {
	padding: 10px;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	resize: none;
}
.inputTxt {
	height: 40px;
	padding: 0 8px;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	vertical-align: middle;
	-webkit-appearance: none;
	border-radius: 0;
}

#header, #footer {background: #11151e;}
#header .wrapCont {
	position: relative;
	height: 65px;
}
#header .logo {
	position: absolute;
	top: 0; left: 20px; bottom: 0;
	font-size: 15px;
	font-weight: 300;
}
#header .logo img {vertical-align: middle;}
#header .logo:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#header .gnbList {text-align: center;}
#header .gnbList > li {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
}
#header .gnbList > li > a {
	position: relative;
	display: block;
	height: 48px;
	padding: 17px 37px 0 49px;
}
#header .gnbList > li > a:after {
	content: "";
	position: absolute;
	top: 17px; left: 10px;
	width: 30px; height: 30px;
	background: url('/wizit/resource/images/ico_header.png') no-repeat;
}
#header .gnbList > li.gnb2 > a:after {background-position: -30px 0;}
#header .gnbList > li.gnb3 > a:after {background-position: -60px 0;}
#header .gnbList > li.gnb4 > a:after {background-position: -90px 0;}
#header .gnbList > li.gnb5 > a:after {background-position: -120px 0;}
#header .gnbList > li.gnb5:hover > a {background: #5c77ff;}
#header .gnbList > li.gnb5:hover > a:after {background-position: -120px -30px;}
#header .gnbList > li.gnb5:hover .subList {display: block;}
#header .gnbList .subList {
	display: none;
	position: absolute;
	padding: 18px 65px 18px 19px;
	background: #5c77ff;
}
#header .subList li {
	text-align: left;
	line-height: 1.9;
	font-size: 17px;
}
#header .utilList {
	position: absolute;
	height: 100%;
	top: 0; right: 0;
	border-right: 1px solid #40444b;
}
#header .utilList li {
	float: left;
	width: 64px; height: 100%;
	border-left: 1px solid #40444b;
}
#header .utilList li a {
	position: relative;
	display: block;
	height: 100%;
}
#header .utilList li a:after {
	content: "";
	position: absolute;
	top: 18px; left: 18px;
	width: 30px; height: 30px;
	background: url('/wizit/resource/images/ico_header.png') no-repeat -150px 0;
}
#header .utilList li.util2 a:after {background-position:-180px 0;}
#header .utilList li.util3 a:after {background-position:-210px 0;}
#header .utilList li.util4 a:after {background-position:-240px 0;}
#header .utilList .count {
	position: absolute;
	top: 18px; left: 35px;
	width: 18px; line-height: 18px;
	border-radius: 50%;
	background: #f44336;
	font-size: 10px;
	font-weight: 500;
	text-align: center;
	z-index: 2;
}

#footer .wrapCont {
	height: 100px;
	padding: 15px 0 0 175px;
	background: url('/wizit/resource/images/logo_foot.png') no-repeat 34px 50%;
}
#footer .footLink {margin: 0 0 10px;font-size: 16px;}
#footer .footLink a {margin-right: 10px;}
#footer .corpInfo span {margin: 0 5px;}
#footer .corpInfo,
#footer .copyright {
	line-height: 1;
	font-size: 13px;
	opacity: .5;
}

#container {
	width: 1820px;
	margin: 0 auto;
	padding: 0 50px 50px;
}

.wrapCont {
	width: 1920px;
	margin: 0 auto;
	box-sizing: border-box;
}